<h1>GameTime Events</h1>
<div class="well">
	<legend>Event Types</legend>
	<div class="ec-event ec-event-3 ec-event-bg" 
		data-color="#9aa4ad" data-event-class="event"
		style="background-color: #9aa4ad; padding-top: 2px; height: 16px color: black;">
		GameTime Event
	</div>
	</br>
	<div class="ec-event ec-availability-1 ec-event-bg" 
		data-color="#70a9a0" data-event-class="availability"
		style="background-color: #70a9a0; padding-top: 2px; height: 16px color: black;">
		Availability Time Slot
	</div>
</div>
<%= raw(event_calendar) %>
<br>
<%= link_to "Add Event", new_event_path, class: "btn" %>
