<header id="overview" class="jumbotron subhead">
	<h1>GameTime</h1>
	<p class="lead">Connecting players with shared availability to the multiplayer games they want to play.</p>
	<% if signed_in? %>
		<div class="alert alert-info">
			You are signed in as <%= "#{current_player.name} (#{current_player.alias})." %>
		</div>
	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
	<% end %>
</header>

<%= render "shared/params" %>