<div class="center hero-unit">
	<h1>GameTime</h1>
	<h2>Connecting players with shared times of availability to the multiplayer games they want to play.</h2>
	<%= link_to "Sign up now!", new_player_path, class: "btn btn-large btn-primary" %>
</div>