<div class="center hero-unit">
	<h1>GameTime</h1>
	<h2>Connecting players with shared availability to the multiplayer games they want to play.</h2>
	<% if signed_in? %>
		<h3>You are signed in as
			<%= "#{current_player.name} (#{current_player.alias})." %>
		</h3>
	<% else %>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>