<h1>Edit Player</h1>

<%= form_for @player do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= render "fields", :f => f %>
	</br>
  <div class="actions">
    <%= f.submit "Update", class: "btn" %>
  </div>
<% end %>