<h3>Registered Players</h3>
<ul>
<% @players.each do |player| %>
	<li><strong>Name: </strong><%= player.name%></li>
	<li><strong>Alias: </strong><%= player.alias %></li>
	<% if current_player.admin? %>
		<li><strong>Email: </strong><%= player.email %></li>
	<% end %>
	</br>
<% end %>
</ul>