<h3>Registered Players</h3>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
	  <% if current_player.admin? %>
		<th>Email</th>
	  <% end %>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.alias %></td>
	  <% if current_player.admin? %>
		<td><%= player.email %></td>
	  <% end %>
	  <td><%= link_to "Add Friend", friendships_path(:friend_id => player), method: :post, class: "btn btn-small"%></td>
    </tr>
    <% end %>
  </tbody>
</table>