<% if signed_in? %>
	<!--<div class="well sidebar-nav sidebar-nav-fixed">-->
	<div class="well sidebar-nav sidebar-nav-fixed span3" style="position:fixed; right:0">
		<ul class="nav nav-list">
			<li class="nav-header">Player</li>
			<li>Name</li>
			<li>Alias</li>
		</ul>
	</div>
<% end %>
		